[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	tip = rev-parse HEAD
	dd = diff master@{u}...HEAD
[push]
	default = current
[rerere]
	enabled = true
[core]
	precomposeunicode = true
	excludesfile = /Users/james_wu/.gitignore_global/.gitignore_global
	sparseCheckout = true
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	email = james.wu@airbnb.com
